*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(32, 32, 124, 0.555);
}

header{
    margin: 5vh auto;
    text-align: center;
    color: antiquewhite;
}

.div {
    text-align: justify;
}

section{
    margin: auto;
    padding: 15px;
    width: 600px;
    box-shadow: 5px 5px 10px 5px #0000001a;
    border-radius: 10px;
    background-color: white;
    color: rgb(24, 52, 143);
}

p{
    margin: 10px auto;
}

#resultado {
    overflow-wrap: break-word;
}
footer{
    margin: 5vh auto;
    text-align: center;
    color: antiquewhite;
}